* 
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}
.contenedor
{
    background-color: aqua;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap; 
}
.caja
{
    border: 2px solid black;
    background-color: burlywood;
    flex-grow: 10;
}       
#caja4
{
    flex-wrap: wrap;
}