* 
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}
.Horario
{
    display: grid;
    grid-template-columns: repeat(8,200px); 
    gap: 1px;
    background-color: black;
}


.Materia, .Lunes, .Martes, .Miercoles, .Jueves, .Viernes
{
    height: 800px;
    background-color: #ffffff;
    width: 1200px;
    
}
.caja
{
    border: 2px solid black;
    background-color: rgb(255, 255, 255);
    width: 200px; 
    height: 100px;
    text-align: center;
    place-items: center;
    display: grid;
}       

.fuente-bungee {
  font-family: 'Bungee', sans-serif;
}
